* text=auto
*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.xml text eol=lf
android/gradlew text eol=lf
*.bat text eol=crlf
